#view {
}
#page-document {
  .headline {
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--headline-foreground);
    font-weight: var(--header-font-weight);
  }
  .blocks-group-wrapper {
    padding-bottom: 0px;
    figure {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .heading {
      .heading-wrapper {
        .heading {
          text-align: center;
          font-size: 46px;
          font-weight: 700;
          color: rgb(113, 121, 124);
        }
      }
    }
    .documentFirstHeading {
      display: none;
    }
    p {
      padding: 1rem;
      background-color: white;
      color: #5e6a72;
      font-weight: 200;
    }
    p:empty {
      display: none;
    }
  }
  .dates {
    display: none;
  }
}
