#footer {
  margin-top: 0;
  text-align: center;

  .footer {
    padding: 10px;
    .logo {
      margin: 0 auto;
      padding-bottom: 1rem;
      width: 189px;
    }
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    height: 100%;
    margin: 1rem 0 1rem 0;
    .footer-element {
      display: flex;
      flex: 1 1 33%;
      height: 100%;
      margin-left: 1rem;
      align-items: left;
      text-align: left;
      .footer-element-flex {
        display: flex;
        flex: 100%;
        flex-direction: column;
        width: 100%;
        align-items: left;
        .footer-element-flex-item {
          align-self: left;
          padding-bottom: 13px;
          p {
            font-weight: 400;
            font-size: 13px;
            strong {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
